* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.card {
  background-color: #1a1b21;
  width: 317px;
  /* height: 780px; */
  border-radius: 10px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1.5em 2em;
  gap: 0.3em;
  width: 100%;
}

.profile-image {
  width: 100%;
}

.info h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.info h3 {
  color: #f3bf99;
  font-size: 0.8rem;
  font-weight: 300;
}

.info a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 0.9rem;
  padding-top: 0.6em;
}

.info .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-top: 1em;
}

.info .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 34px;
  gap: 0.8em;
  padding: 0.6em;
  border-radius: 7px;
  border: none;
}

.info .buttons button:hover {
  cursor: pointer;
}

.linkedin {
  background-color: #5093e2;
  color: #fff;
}

.about,
.intro {
  padding: 1.5em 2em;
  width: 100%;
}

.about h2,
.intrest h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.about p,
.intrest p {
  font-size: 0.8rem;
  color: #dcdcdc;
  line-height: 1.5;
}

.footer {
  background-color: #161619;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  height: 64px;
}

.footer a {
  color: #918e9b;
  text-decoration: none;
}
